<div id="shareDialog" class="modal fade" role="dialog" ng-controller="ShareDataController">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Share your data</h4>
            </div>
            <div class="modal-body">
                <p>If you proceed here, your data will be uploaded to our server.</p>
                <button class="btn btn-primary" ng-click="shareData()">
                    Upload
                </button>
                <div id="shareURL"><a href="{{model.shareURL}}">{{model.shareURL}}</a></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>