<div id="welcomeDialog" class="modal fade" role="dialog" ng-controller="WelcomeDialogController">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Welcome to blockwelt</h4>
            </div>
            <div class="modal-body">
                <p>What do you want to do?</p>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="main.showExampleData()">Use example data</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="main.loadData()">Use your own data</button>
            </div>
        </div>

    </div>
</div>