<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Welcome to blockwelt</h4>
    </div>
    <div class="modal-body">
        <p>What do you want to do?</p>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-controller="MainController" ng-click="showExampleData()">Use
            example data
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-controller="LoadDialogController"
                ng-click="loadData()">Use your own data
        </button>
    </div>
</div>