<html ng-app="blockweltapp">
<head>
    <title>Block Welt</title>
    <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blockwelt.css" rel="stylesheet">
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/bower-ol3/build/ol.js"></script>
    <script src="components/angular/angular.min.js"></script>


    <script src="app/app.js"></script>
    <script src="app/controllers/mainController.js"></script>
    <script src="app/controllers/mapController.js"></script>
    <script src="app/service/projectionService.js"></script>
    <script src="app/service/importService.js"></script>

    <script>
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });
    </script>
</head>
<body ng-controller="MainController as main">
<div class="container">
    <h1>Welcome to Block Welt</h1>

    <p>
        Testing:
        <button type="button" class="btn btn-info btn-sm" ng-click="main.showExampleData()">Use example data</button>
    </p>
    <p>
        Upload:
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Open Modal</button>
    </p>
    <div id="map" class="map" ng-controller="MapController"></div>
</div>

<!-- load dialog -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Data</h4>
            </div>
            <div class="modal-body">
                <p>Choose the data to visualize.</p>

                <form>
                    <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" id="file">
                                </span>
                            </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <span class="help-block">
                        Your data will remain locally on your device and is not uploaded to the web.
                    </span>

                </form>

            </div>


            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="main.visualize()">Visualize</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


</body>
</html>