<html ng-app="blockweltapp">
<head>
    <title>Block Welt</title>
    <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blockwelt.css" rel="stylesheet">
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/open-layers3/ol.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/mainController.js"></script>
    <script src="app/controllers/mapController.js"></script>
    <script src="app/controllers/welcomeDialogController.js"></script>
    <script src="app/controllers/loadDialogController.js"></script>
    <script src="app/controllers/shareDataController.js"></script>
    <script src="app/services/projectionService.js"></script>
    <script src="app/services/blockToFeatureService.js"></script>
    <script src="app/services/importService.js"></script>
    <script src="app/services/gridService.js"></script>
</head>

<body ng-controller="MainController as main">

<div id="map" class="map" ng-controller="MapController"></div>

<button type="button" id="btn-share" class="btn btn-primary map-controls" ng-controller="ShareDataController"
        ng-click="share()">Share
</button>
<button type="button" id="btn-example" class="btn btn-primary map-controls" ng-click="main.showExampleData()">Show
    Example
</button>
<button type="button" id="btn-load" class="btn btn-primary map-controls" ng-controller="LoadDialogController"
        ng-click="loadData()">Load your own
</button>

<div ng-include src="'app/templates/progressDialog.html'"></div>
<div ng-include src="'app/templates/welcomeDialog.html'"></div>
<div ng-include src="'app/templates/loadDialog.html'"></div>
<div ng-include src="'app/templates/shareDialog.html'"></div>

</body>
</html>